<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-list-header>
      <ion-label>Ingrese nombre de usuario</ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-input
      type="text"
      fill="solid"
      label="Nombre de Usuario"
      labelPlacement="floating"
      errorText="Usuario inválido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button size="medium" shape="round" [routerLink]="['/login']">
        Recuperar
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
