<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Menú Principal</ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-label>Hola, ¡Bienvenid@ a RegistrAPP!</ion-label>
    </ion-item>

    
    <ion-button (click)="listar()">
      <ion-label>Alumnos</ion-label>
      <ion-icon slot="icon-only" name="list-outline"></ion-icon>
    </ion-button>    
    <ion-list>
      <ion-item *ngFor="let usuario of users" [routerLink]="['/infoalumnos/' + usuario.id]">
        <ion-label> {{usuario.nombre}} {{usuario.apellido}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button (click)="onClick()" expand="expand" fill="clear" shape="round">
      Tomar asistencia
    </ion-button>
  </ion-list>
</ion-content>


<ion-footer >
  <ion-toolbar >
    <ion-item>
      <ion-button fill="clear" size="medium" [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="medium" [routerLink]="['/menu-inicio']">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="medium" [routerLink]="['/login']">
        <ion-icon  name="person-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>  
</ion-footer>
