<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
  <ion-list>
    <ion-list-header>
      <ion-label>¡Bienvenido a RegistrAPP!<br>Elige cómo iniciar sesión:</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-button size="default" expand="block" [routerLink]="['/login']">
        Ingresar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button ssize="default" expand="block" [routerLink]="['/registro']">
        Registrarse
      </ion-button>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
