<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container-home">
  <ion-list>
    <ion-list-header>
      <ion-label>¡Bienvenido a RegistrAPP!<br>Elige cómo iniciar sesión:</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-button fill="clear" size="large" [routerLink]="['/login']">
        <ion-icon  name="person-outline"></ion-icon>
        Login
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button fill="clear" size="large" [routerLink]="['/registro']">
        <ion-icon name="person-add-outline"></ion-icon>
        Registro
      </ion-button>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
