<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-content>
    <ion-item> 
      <ion-input label="Nombre" labelPlacement="floating" placeholder="Marco" type="text" [(ngModel)]="alumno.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellido" labelPlacement="floating" placeholder="Garcia" type="text" [(ngModel)]="alumno.apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Correo" labelPlacement="floating" placeholder="correo@email.cl" type="email" [(ngModel)]="alumno.correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nombre de Usuario" labelPlacement="floating" placeholder="ma.garcial" type="text" [(ngModel)]="alumno.usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" labelPlacement="floating" placeholder="***********" type="password" [(ngModel)]="alumno.contrasenia"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" (click)="guardar()">Registrarse</ion-button>
  </ion-content>
</ion-content>
